openapi: 3.2.0
info:
  title: Miso Experiment APIs API
  description: '# Overview

    Miso’s approach to personalization is to train machine learning Engines on three core data sets:


    1.'
  version: 1.1.4
servers:
- url: https://api.askmiso.com
tags:
- name: Experiment APIs
  description: Miso's experiment APIs let you do the A/B testing of your current result with Miso.
paths:
  /v1/experiments/{experiment_id_or_slug}/events:
    parameters:
    - name: experiment_id_or_slug
      in: path
      required: true
      schema:
        type: string
      description: The ID or slug name of the experiment.
    post:
      tags:
      - Experiment APIs
      summary: Send Experiment Event
      operationId: send_experiment_event_v1_experiments__experiment_id_or_slug__events_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendExperimentResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                message: api_key is invalid. Please check your api_key in Dojo.
        '404':
          description: Not Found
          content:
            application/json:
              example:
                message: Variant is not found. Please check your variant_name.
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              example:
                message: Request schema error. See "data.errors" for details
                data:
                  errors:
                  - loc:
                    - body
                    - 35
                    msg: 'Expecting '','' delimiter: line 3 column 5 (char 35)'
                    type: value_error.jsondecode
      security:
      - Secret API Key: []
components:
  schemas:
    ExperimentRequest:
      title: ExperimentRequest
      type: object
      properties:
        user_id:
          title: User Id
          type: string
          description: Identifies the signed-in user who performed the interaction.
          example: '2179873'
        anonymous_id:
          title: Anonymous Id
          type: string
          description: A pseudo-unique substitute for the User Id
          example: 403fb18e-98ff-434d-8585-726fabf5ed37
        variant_name:
          title: Variant Name
          type: string
          description: Set the variant_name if you want to assign a user to a specific variant. Most of the time, you don't need to pass this field. Instead, the system will automatically assign a variant for this user.
          example: Treatment_Group
        timestamp:
          title: Timestamp
          type: string
          description: The time the user is assigned to the variant group. If not set, current time will be used.
          format: date-time
          example: '2022-01-23T12:34:56-08:00'
    VariantObject:
      title: VariantObject
      required:
      - id
      - name
      - slug
      - status
      type: object
      properties:
        id:
          title: Id
          type: string
          description: The UUID of this variant.
          example: 59769b89-5f1f-46d5-a4fa-a583ebd2f7fd
        name:
          title: Name
          type: string
          description: The name of this variant.
          example: Treatment_Group
        slug:
          title: Slug
          type: string
          description: The slug name of this variant.
          example: Treatment_Group
        configuration:
          title: Configuration
          anyOf:
          - type: object
          - type: array
            items: {}
          - type: string
          description: The configuration of this variant.
          example:
            model: A
        status:
          title: Status
          enum:
          - Draft
          - Scheduled
          - Active
          - Completed
          - Archived
          type: string
          description: The current status for this variant.
          example: Active
    SendExperimentResponse:
      title: SendExperimentResponse
      required:
      - took
      - in_experiment
      - variant
      type: object
      properties:
        took:
          title: Took
          type: integer
          description: The amount of time (in milliseconds) Miso took to answer this request.
          example: 50
        in_experiment:
          title: In Experiment
          type: boolean
          description: To show whether the experiment is active or not.
        variant:
          $ref: '#/components/schemas/VariantObject'
  securitySchemes:
    Secret_API_Key:
      type: apiKey
      description: "\nYour secret API key is used to access every Miso API endpoint. You should secure this key and only use it on a backend \nserver. Never leave this key in your client-side JavaScript code. If the private key is compromised, you can revoke it \nin [Dojo](https://dojo.askmiso.com/docs/api-browser) and get a new one.\n\nSpecify your secret key in the `api_key` query parameter. For example:\n```\nPOST /v1/users?api_key=039c501ac8dfcac91c6f05601cee876e1cc07e17\n```\n\n"
      in: query
      name: api_key
    Publishable_API_Key:
      type: apiKey
      description: "\nYour publishable API key is used to call Miso's APIs from your front-end code. It can be used to stream interactions from the browser using Miso's Interactions Upload API or to access read-only search and recommendation results for a given user. When using the publishable API key, the requested user_id will need to be hashed to maintain the necessary security compliance. \n\nSpecify your publishable key in the `api_key` query parameter. For example:\n```\nPOST /v1/interactions?api_key=039c501ac8dfcac91c6f05601cee876e1cc07e17\n```\n"
      in: query
      name: api_key
x-tagGroups:
- name: Data APIs
  tags:
  - Interaction APIs
  - Product / Content APIs
  - User APIs
- name: Engine APIs
  tags:
  - Search APIs
  - Ask APIs
  - Bulk API
  - User Recommendations
  - Product Recommendations
- name: Experiment APIs
  tags:
  - Experiment APIs
- name: Q&A APIs
  tags:
  - Q&A APIs
