openapi: 3.2.0
info:
  title: Miso Bulk API
  description: '# Overview

    Miso’s approach to personalization is to train machine learning Engines on three core data sets:


    1.'
  version: 1.1.4
servers:
- url: https://api.askmiso.com
tags:
- name: Bulk API
  description: 'The Bulk API provides an efficient interface for making multiple Search / Recommendations / Q&A requests in one API

    call.'
paths:
  /v1/bulk:
    post:
      tags:
      - Bulk API
      summary: Bulk Request API
      operationId: bulk_v1_bulk_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Secret API Key: []
components:
  schemas:
    BulkResponse:
      title: BulkResponse
      required:
      - data
      - errors
      type: object
      properties:
        data:
          title: Data
          type: array
          items:
            $ref: '#/components/schemas/BulkIndividualResponse'
          description: The bulk request results
        errors:
          title: Errors
          type: boolean
          description: Whether there is any errors in the responses
      description: Bulk API response
    BulkRequest:
      title: BulkRequest
      required:
      - requests
      type: object
      properties:
        requests:
          title: Requests
          maxItems: 100
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/EngineAPIRequest'
          description: An array of request objects
      description: Bulk API request
    BulkIndividualResponse:
      title: BulkIndividualResponse
      required:
      - error
      - status_code
      - body
      type: object
      properties:
        error:
          title: Error
          type: boolean
          description: Whether there is an error
        status_code:
          title: Status Code
          type: integer
          description: Status code of the response
        body:
          title: Body
          allOf:
          - $ref: '#/components/schemas/GeneralBody'
          description: The response body
      description: Individual response in a bulk API request
    GeneralBody:
      title: GeneralBody
      type: object
      properties: {}
      description: Allow any json body
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            type: string
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    EngineAPIRequest:
      title: EngineAPIRequest
      required:
      - api_name
      - body
      type: object
      properties:
        api_name:
          title: Api Name
          type: string
          description: '

            The name of the API. An API name should contain one slash. For example: `search/search` or `recommendation/user_to_products`

            '
        body:
          title: Body
          type: object
          description: '

            The request body to the API.

            '
      description: Engine API request
  securitySchemes:
    Secret_API_Key:
      type: apiKey
      description: "\nYour secret API key is used to access every Miso API endpoint. You should secure this key and only use it on a backend \nserver. Never leave this key in your client-side JavaScript code. If the private key is compromised, you can revoke it \nin [Dojo](https://dojo.askmiso.com/docs/api-browser) and get a new one.\n\nSpecify your secret key in the `api_key` query parameter. For example:\n```\nPOST /v1/users?api_key=039c501ac8dfcac91c6f05601cee876e1cc07e17\n```\n\n"
      in: query
      name: api_key
    Publishable_API_Key:
      type: apiKey
      description: "\nYour publishable API key is used to call Miso's APIs from your front-end code. It can be used to stream interactions from the browser using Miso's Interactions Upload API or to access read-only search and recommendation results for a given user. When using the publishable API key, the requested user_id will need to be hashed to maintain the necessary security compliance. \n\nSpecify your publishable key in the `api_key` query parameter. For example:\n```\nPOST /v1/interactions?api_key=039c501ac8dfcac91c6f05601cee876e1cc07e17\n```\n"
      in: query
      name: api_key
x-tagGroups:
- name: Data APIs
  tags:
  - Interaction APIs
  - Product / Content APIs
  - User APIs
- name: Engine APIs
  tags:
  - Search APIs
  - Ask APIs
  - Bulk API
  - User Recommendations
  - Product Recommendations
- name: Experiment APIs
  tags:
  - Experiment APIs
- name: Q&A APIs
  tags:
  - Q&A APIs
