openapi: 3.0.2
info:
  title: Miso Ask APIs Search APIs API
  description: '

    # Overview

    Miso’s approach to personalization is to train machine learning Engines on three core data sets:


    1. Your site’s log of historical and real-time interactions,

    2. Your catalog of products and content, and

    3. Your users. Miso provides the output of its Engines to you, so you can build search and recommendation

    experiences that are personalized down to the individual level (n=1 personalization).


    To see how Miso works and explore the power of its Engines, we recommend following

    [this tutorial](https://docs.askmiso.com/) to get

    started with our Playground data. Integrating your site or application with Miso happens in three basic steps:


    1. Upload your data

    2. Train your Engines

    3. Build search and recommendation experiences with the output of your Engines.



    Miso provides two main integration points. The first is your [Dojo Dashboard](https://dojo.askmiso.com/),

    which is used to set up your Engines with the conversions you want to optimize and your training schedule.

    Dojo is also a great way to get familiar with Miso by manually uploading data and exploring the output of

    Miso’s Engines. In Dojo’s Sandboxes, you can tweak your Engine settings and see visual examples of Miso’s search

    and recommendations running on your live data.


    The second integration point is Miso’s API, which lets you automatically manage your data in Miso and build

    experiences that leverage the output of Miso’s personalization Engines.



    Miso’s API is composed of two major groups of REST API endpoints: Data APIs and Engine APIs.


    ### Data APIs

    Data APIs collect input to Miso''s personalization Engines. These APIs all support high-throughput

    data ingestion through bulk insert, and satisfy GDPR and CCPA compliance by letting users delete their data

    from Miso. Subcategories of Data APIs are:


    * [Interaction APIs](#tag/Interaction-APIs), for managing your Interaction records. By uploading historical and real-time Interaction

    records, you tell Miso how users are engaging with the products and content on your site, and in turn, Miso’s

    Engines learn how to optimize your conversion funnels.

    * [Product / Content APIs](#tag/Product-Content-APIs), for managing your Product / Content records. These records provide a deep semantic

    understanding of your catalog and keep Miso up to date about your offerings so it can make smart and timely

    suggestions. The `product_id` is how Miso links Product / Content records to your Interaction records.

    * [User APIs](#tag/User-APIs), for managing your User records. These records tell Miso about your site’s users and visitors,

    so Miso can build an understanding of user segmentation and behavior in relation to products and content.

    The `user_id` is how Miso links User records to your Interaction records.


    As a rule of thumb, we recommend batching up data to avoid timeout risks. For the Product / Content and User

    Upload APIs, we recommend limiting each API upload call to about 100 records at a time. For the Interaction

    Upload API, we recommend limiting your calls to around 10,000 records at a time.


    ### Engine APIs

    Engine APIs provide the output of Miso''s personalization Engines. We designed these APIs with a focus on low

    latency and high availability. Most of these APIs'' 95th percentile response time is under 75ms,

    and the services are replicated to at least three separate instances for high availability.

    The types of Engine APIs are:


    * [Search APIs](#tag/Search-APIs), for getting Miso’s personalized search results for a user, with search-as-you-type and

    autocompletion.

    * [Recommendation APIs](#tag/Recommendation-APIs), for retrieving Miso’s recommendations that match users with

    the products, categories, and product attributes that are likely to drive conversions.


    # Authentication

    [View your API Keys in your Dojo Dashboard.](https://dojo.askmiso.com/docs/api-browser)


    There are three environments in Miso:

    * **Playground**, a read-only tutorial environment with sample data.

    * **Development**, for staging, QA, and experimentation.

    * **Production**, where you run your live integration with Miso.


    Access a Miso environment by passing in the corresponding API key in your API calls. There is one publishable

    key and one secret key per environment.


    API Key can passed with query parameter `api_key`, or using the `X-API-KEY` header.

    '
  version: 1.1.4
servers:
- url: https://api.askmiso.com
tags:
- name: Search APIs
paths:
  /v1/search/search:
    post:
      tags:
      - Search APIs
      summary: Search API
      description: "The Search API provides personalized, typo-correcting, semantic search for your site.\nYou send this API the search queries users entered, and the API returns the relevant search results tailored to your\nusers' interests.\n\n### Personalized search\nPersonalized search is a key factor in driving search conversion on many major sites.\nIt is particularly powerful for short search queries (≤ 3 keywords), which account for [up to 80% of search traffic in the U.S.](https://www.statista.com/statistics/269740/number-of-search-terms-in-internet-research-in-the-us/),\nbut are usually the hardest to get right with traditional search engines. This is because shorter search queries tend\nto match a larger number of results, but there\nis not enough information in the query strings alone to determine which results the users\nare actually looking for.\n\nFor example, when users search for *jeans* on Levi's.com, it is\nimpossible to know which *jeans* the user is looking for, among thousands of options.\nEven if the user adds: *jeans for men*, it is still unclear to a traditional search engine what style, material,\nor size the user wants.\n\nIn the contrary, with Miso's personalized search, we not only analyze the search query itself, but also take into\naccount the *context* in which the searches are made, including who are the users, where are they from, what are their\npast interactions on the site, what other searches the user made, etc. These signals together\nallow Miso to generate more than 15% to 20% higher search conversion rate than the traditional non-personalized search\nengines.\n\n### Balancing relevancy and personalization\nAlthough personalization is a powerful technique, over-using it can be harmful to the user experiences. In the\ncontext of search optimization, the relevancy of the search results are still the most important criteria, and we\ndon't want personalization to overwhelm the search relevancy.\nFor example, when users search for a very specific term, or directly search for the product names,\nMiso's algorithm will respond with the most relevant search results first, and then only apply personalization to\nrerank more ambiguous search results.\n\n\n### Basic usage\nFor every search query, you let Miso know the user's `user_id` and the search keywords in the API request body,\nfor example:\n```\nPOST /v1/search/search\n{\n  \"q\": \"jeans\",\n  \"user_id\": \"user-123\"\n}\n```\n\nFor site visitors who do not sign in, you can let Miso know the `anonymous_id` of this visitor:\n```\nPOST /v1/search/search\n{\n  \"q\": \"jeans\",\n  \"anonymous_id\": \"visitor-123\"\n}\n```\n\n### Search response\nWith the query above, Miso responds with the search results like the following:\n```javascript\n{\n   \"message\":\"success\",\n   \"data\":{\n      \"took\":50,\n      \"total\":30,\n      \"start\":0,\n      \"miso_id\":\"f34b90de-086b-11eb-b498-1ee8abb1818b\",\n      \"products\":[\n         {\n            \"product_id\":\"505-regular-fit-mens-jeans\",\n            \"title\":\"The 505 Regular Fit Men's Jeans\",\n            \"url\":\"https://levi.com/jeans/505-regular-fit-mens-jeans/\",\n            \"size\":\"29\",\n            \"material\":\"Cotton\",\n            \"color\":\"Rinse - Dark Wash\",\n            \"_search_score\": 78.12,\n            \"_personalization_score\": 0.98\n         }\n      ],\n      \"spellcheck\":{\n         \"spelling_errors\":false\n      }\n\n   }\n}\n```\n* **took**: the amount of time (in milliseconds) Miso took to answer the query\n* **total**: the total number of matched products. You can paginate through all the products by using the combination\nof *start* and *rows* parameters (see *Request Body Schema* below)\n* **miso_id**: a UUID of the search request. You should include **miso_id** in the Interaction records for every\ninteractions that result from this search request, e.g. user click-through a product in the search results.\nMiso use miso_id to track the search performance and fine-tune the algorithm accordingly.\n* **products**: an array of [Product records](#operation/content_write_api_v1_products_post) that match the search\nquery, ranked in the order of relevancy and\nprobability that the user will be interested in this product. By default, only the `product_id` of the Product is\nreturned. You can ask Miso to return additional fields by using the *fl* parameter (see *Request Body Schema* below)\n* **products[ ]._search_score**: the search relevancy score of the products based on keyword matching and Miso's\nsemantic matching. This score is similar to traditional Lucene search score.\n* **products[ ]._personalization_score**: the score assigned by Miso's personalization algorithm based on users'\nprofile and their interactions on the site. This score quantifies the probability of whether users will be\ninterested in this product or not.\n* **spellcheck**: an dictionary contains spell checking information.\n\n### Spellcheck and auto-correction\nAccording to a [Microsoft Research study](https://www.aclweb.org/anthology/W04-3238.pdf), roughly 10-15% of the\nqueries sent to search engines contain errors. A misspelled search keyword often results in poor search\nquality, and users have been accustomed to Google's automatic spelling correction functionality and expect the same\non your site.\n\nHowever, correcting spelling and typos at scale is a non-trivial machine learning problem.\nMiso's spellcheck is based on a sequence-to-sequence\ndeep learning model, trained and updated regularly on a corpus of billion tokens. It detects hard-to-spot errors,\nauto-correct keywords according to its context, and recognize terms that are newer or lesser known.\n\nSpellcheck is always on for every search request so you don't need to turn it on.\nWhat you need to decide is whether to turn on *auto spelling correction*.\nFor example, the following search request turns on the auto-spelling-correction, and Miso will automatically\nreplace any misspelled queries with their correct spelling:\n```\nPOST /v1/search/search\n{\n   \"q\":\"whte denem jeans\",\n   \"user_id\":\"user-123\",\n   \"spellcheck\":{\n      \"enable_auto_spelling_correction\":true\n   }\n}\n```\nThe API will respond:\n```javascript\n{\n   \"message\":\"success\",\n   \"data\":{\n      \"took\":50,\n      \"total\":30,\n      \"start\":0,\n      \"miso_id\":\"f34b90de-086b-11eb-b498-1ee8abb1818b\",\n      \"spellcheck\":{\n         \"spelling_errors\":true,\n         \"auto_spelling_correction\":true,\n         \"original_query\":\"whte denem jeans\",\n         \"original_query_with_markups\":\"&lt;mark&gt;whte&lt;/mark&gt; &lt;mark&gt;denem&lt;/mark&gt; jeans\",\n         \"corrected_query\":\"white denim jeans\",\n         \"corrected_query_with_markups\":\"&lt;mark&gt;white&lt;/mark&gt; &lt;mark&gt;denim&lt;/mark&gt; jeans\"\n      },\n      \"products\":[\n         ......\n      ]\n   }\n}\n```\nThe *spellcheck* object contains the following fields:\n* **spelling_errors** indicates whether there is a spelling error in the query\n* **auto_spelling_correction** indicates whether the search query has been replaced with the *corrected_query*\n* **original_query** the original search query\n* **original_query_with_markups** the original search query with the misspelled words highlighted by `<mark>` html tags\n* **corrected_query** the search query with misspelling and typos corrected\n* **corrected_query_with_markups** the search query with misspelling and typos corrected, and the corrected parts are highlighted by `<mark>` html tags\n\nYou can opt-out the auto-spelling-correction by setting `enable_auto_spelling_correction=false`. For example:\n```\nPOST /v1/search/search\n{\n   \"q\":\"whte denem jeans\",\n   \"user_id\":\"user-123\",\n   \"spellcheck\":{\n      \"enable_auto_spelling_correction\":false\n   }\n}\n```\nIn this case, Miso will still run spellcheck against the query. However, users' queries will be used as it is,\nand **auto_spelling_correction** field will be *false*.\n\n### Boosting and Diversification\nWhile Miso's personalized search can drive conversion by showing search results that are tailored\nto users' interests, ultimately, it is important to make sure that the search results meet your business goals.\nTo that end, Miso provides a great set of tools that enable you to fine-tune the search ranking and make it aligned\n with your goals.\n\nOne great example is **boosting**. Boosting allows you to define a query that can be used to boost a\nsubset of products to the top of the ranking, or to specific *boost positions*. You can use boosting to run\ndifferent kinds of promotion campaigns, or to promote certain set of products for individual users that you know\nthey will be interested in.\n\nFor example, consider a scenario where you need to promote the sales of Nike's products. Then, you might want to\nuse the query below, that will promote the sneakers whose brand are `Nike` to the top of the search result:\n```\nPOST /v1/search/search\n{\n   \"q\":\"sneaker\",\n   \"user_id\":\"user-123\",\n   \"boost_fq\": \"brand:\\\"Nike\\\"\"\n}\n```\n\nFor a slightly more complex example, the query below will promote the Nike products which have also been tagged\nas `ON SALE`:\n```\nPOST /v1/search/search\n{\n   \"q\":\"sneaker\",\n   \"user_id\":\"user-123\",\n   \"boost_fq\": \"brand:\\\"Nike\\\" AND tags:\\\"ON SALE\\\"\"\n}\n```\n\nYou can have as complex boosting logic as you want in the boosting query,\nbut it is worth mentioning that Miso will only boost\nproducts that are relevant and have high likelihood to convert. In other words, Miso will not boost low\nperformance products even if they match the boosting query.\n\nDepending on your boosting rules, in certain cases, you would like to prevent search results from becoming\ntoo \"plain\" due to boosting. For example, you don't want the first page of the search result to contain only Nike\nproducts.\n\nWith Miso, you have two tools to avoid so. First, you can specify `boost_positions` to place boosted products at\nspecific positions in the ranking. For example, the query below will place boosted products only at the first,\nfourth, seventh places in the ranking (positions are 0-based), and place the remaining products in their original\nranking, skipping these three positions.\n\n```\nPOST /v1/search/search\n{\n   \"q\":\"sneaker\",\n   \"user_id\":\"user-123\",\n   \"boost_fq\": \"brand:\\\"Nike\\\" AND tags:\\\"ON SALE\\\"\",\n   \"boost_positions\": [0, 3, 6]\n}\n```\n\nThe second tool is `diversification`. Miso's `diversification` algorithm will maintain a desired minimum distance\nbetween any two products that have the same attributes. For example, the\nfollowing query will make sure products made by the same *brand* are at least two slots apart from each\nother in the search results.\n\n```\nPOST /v1/search/search\n{\n   \"q\":\"sneaker\",\n   \"user_id\":\"user-123\",\n   \"boost_fq\": \"brand:\\\"Nike\\\" AND tags:\\\"ON SALE\\\"\",\n   \"diversification\": {\n       \"brand\": {\"minimum_distance\": 2}\n    }\n}\n```\n\nIt is also very often to use both \"boost_positions\" and \"diversification\" at the same time to make sure that\n(1) the search results are not overwhelmed by the boosted products, and (2) there is a good mix of products from\ndifferent brands showing side-by-side to increase product discovery rate.\n\n### Result ordering\n\nYou can override Miso's default ranking order by specifing a list of fields for Miso to rank the search results.\nThese fields can be any numeric or boolean fields in your Product catalog, or one of the following special\nfields:\n* **_personalization_score**: the score that estimates the probability that a user will interact with a product\ndetermined by Miso's personalization algorithm. The range of this score is between [0, 1]. The scores are\nnon-uniformly distributed. The Products that are relevant to users' interests will have scores much closer to 1,\nthan products that are not.\n* **_search_score**: the score that rates the degree of \"match\" between search keywords and a product's catalog\nwith a focus on Product's titles.\nThis score is mostly based on a variant of [BM25](https://en.wikipedia.org/wiki/Okapi_BM25), but additionally\nconsider the term proximity, typos, term semantic similarity.\nIts value is always larger than 0, but its range is unbounded.\n* **_boosting_score**: a binary score indicates whether a Product is boosted by your boosting query.\n* **_geo_distance**: distance between any point on map, `geo` must be specified when sorting with this field.\n\nFor example, the following query returns all the Products (because `q=*`), ranked by the `_personalization_score`\nfirst, and then by the values in the `custom_attributes.promote_score` field in the Product catalog, then the\ndistance between the product and New York city.\n```\n{\n  \"q\": \"*\",\n  \"order_by\": [\n        {\n            \"field\": \"_personalization_score\",\n            \"tie_breaker\": {\n                \"type\": \"relative_difference\",\n                \"threshold\": \"0.05\"\n            },\n            \"order\": \"desc\"\n        },\n        {\n            \"field\": \"custom_attributes.promote_score\",\n            \"order\": \"desc\"\n        },\n        {\n            \"field\": \"_geo_distance\",\n            \"geo\": {\n                \"lat\": 40.711967,\n                \"lon\": -74.006076,\n            }\n            \"order\": \"asc\"\n        }\n  ]\n}\n```\n#### Mathematical Functions\nMiso supports mathematical functions that transform and combine different sorting criteria into one.\nFor example, a powerful strategy to improve gross merchandise volume (GMV), but maintain user\nexperience is\nto sort the products based on the multiplication of personalization scores and product prices. You can achieve this with\nthe following `order_by` query:\n```\n{\n  \"q\": \"*\",\n  \"order_by\": [\n        {\n            \"field\": \"_personalization_score * pow(sale_price, 0.5)\",\n            \"order\": \"desc\"\n        }\n\n  ]\n}\n```\nFunction `pow(sale_price, 0.5)` takes the square root of the sale price and avoids very expensive products from\noverwhelming the ranking.\n\nMiso supports all the common mathematical operators including `+`, `-`, `*`, `/`, `%`, `^`, `**`, and more\nadvanced functions including:\n  * Power functions: `pow(X, y)`, `sqrt(X)`\n  * Exponents and logarithms: `exp(X)`, `log(X)`, `log2(X)`, `log10(X)`\n  * Element-wise maximum / minimum: `maximum(X, y)`, `minimum(X, y)`\n  * Absolute function: `abs(X)`\n  * Rounding functions: `round(X)`, `floor(X)`, `ceil(X)`\n  * Trigonometric functions: `sin(X)`, `cos(X)`, `tan(X)`, `asin(X)`, `acos(X)`, `atan(X)`\n\n\n#### Soft Tie-Breaker\nFor scores that have granular resolutions, for example `_personalization_score`,`_search_scores`, or\nProducts' `sale_price`, we usually don't want to rank Products by their raw values. After all,\na 0.001 difference in `_personalization_score` or $0.01 difference in sale price typically will not make a\ndifference in users' preferences. In such cases, *soft* tie-breakers should be used to smooth out these minor\ndifferences in scores.\n\nFor example, in the query above, we apply a soft tie-breaker to `_personalization_score` based on score values'\nrelative difference. Specifically, we first sort the score's raw values in the descending order, then\nfor two consecutive values, if their relative difference is no more than a pre-defined threshold\n(in this case `0.05` or `5%`), they are considered as a tie, and the next field\n(i.e. `custom_attributes.promote_score`)\nwill be used to determine their ranking.\n\nIt is also common to utilize tie-breakers to combine the effect of two types of scores. For example, in the\nfollowing query, we set `threshold=0.2` or `20%` for `_personalization_score`, then only the\nProducts that users are 20% more likely to interact with will be ranked higher, the remaining Products will be\nranked by their sale prices. In this way, we combine the effect of personalization score and sale prices, where\nthe Products are roughly ranked by personalization, but favor the pricier products when they have comparable\npersonalization scores.\n```\n{\n  \"q\": \"*\",\n  \"order_by\": [\n        {\n            \"field\": \"_personalization_score\",\n            \"tie_breaker\": {\n                \"type\": \"relative_difference\",\n                \"threshold\": \"0.20\"\n            },\n            \"order\": \"desc\"\n        },\n        {\n            \"field\": \"sale_price\",\n            \"order\": \"desc\"\n        }\n\n  ]\n}\n```\n\nAlso note that, when search keywords are present, it is recommended to always include `_search_score`\nas the first field (plus a tie-breaker) to maintain the relevance of the search results. A tie-breaker is usually\nrequired as well to let the subsequent score have effect to the ranking.\n```\n{\n  \"q\": \"toy story\",\n  \"order_by\": [\n      {\n            \"field\": \"_search_score\",\n            \"tie_breaker\": {\n                \"type\": \"relative_difference\",\n                \"threshold\": \"0.20\"\n            },\n            \"order\": \"desc\"\n        },\n        {\n            \"field\": \"_personalization_score\",\n            \"tie_breaker\": {\n                \"type\": \"relative_difference\",\n                \"threshold\": \"0.20\"\n            },\n            \"order\": \"desc\"\n        },\n        {\n            \"field\": \"sale_price\",\n            \"order\": \"desc\"\n        }\n\n  ]\n}\n```"
      operationId: search_v1_search_search_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Secret API Key: []
  /v1/search/autocomplete:
    post:
      tags:
      - Search APIs
      summary: Autocomplete API
      description: "The Autocompletion API provides real-time, personalized, typo resistant typeahead for your search bar.\nYou send this API what users are currently typing, and the API returns the complete search query suggestions.\n\n### Personalized typeahead\nPersonalized typeahead is an extreme example of personalized search. The personalization starts immediately when\nusers enter even just one character. The typeahead results are personalized so that the entries most likely to drive\nconversion for the current user are ranked at the top. Miso will predict what the user is looking for in real-time\nbased on their interests and past behaviors.\n\n### Basic usage\nThe request schema of Autocompletion API is similar to that of Search API: you put the search query users typed so\nfar, and the `user_id` or `anonymous_id` for Miso to identify the current user.\nFor example, when a user types the first character `r`, you send Miso the following request:\n```\nPOST /v1/search/autocomplete\n{\n   \"q\":\"r\",\n   \"user_id\":\"user-123\"\n}\n```\n\nThe response will be like:\n```javascript\n{\n  \"message\": \"success\",\n  \"data\": {\n    \"took\": 50,\n    \"miso_id\": \"e93a6d02-0a7a-11eb-a896-d28586dc1386\",\n    \"completions\": {\n      \"title\": [\n        {\n          \"text\": \"Robin Hood: Prince of Thieves (1991)\",\n          \"text_with_markups\": \"R&lt;mark&gt;obin Hood: Prince of Thieves (1991)&lt;/mark&gt;\",\n          \"product\": {\n            \"product_id\": \"tmdb-8367\"\n          }\n        },\n        {\n          \"text\": \"Reservoir Dogs (1992)\",\n          \"text_with_markups\": \"R&lt;mark&gt;eservoir Dogs (1992)&lt;/mark&gt;\",\n          \"product\": {\n            \"product_id\": \"tmdb-500\"\n          }\n        },\n        ...\n      ]\n    }\n  }\n}\n```\n* **took**: the amount of time (in milliseconds) Miso took to answer the query\n* **completions**: an dictionary of autocompletion candidates from different sources. By default, we only run\nautocompletion against the titles of products, but you can choose to get autocompletion candidates from other fields\nusing the `completion_fields` parameters.\n* **completions.title[].text**: the text of completion candidates\n* **completions.title[].text_with_markups**: the completion candidates with the part of text that users\nhaven't typed yet surrounded by `<mark>` HTML tags.\n* **completions.title[].product**: the product record whose title matches the autocompletion candidate. This object can be used to implement direct-to-product links: when they click on the link they will go\ndirectly to the product page instead of the search result page. By default, only the `product_id` field is returned,\n you use `fl` request parameter to get more fields returned in the product object.\n\n\n### Typo resistance\nMiso's autocompletion algorithm accepts up to 4 typos in the query string. For example, users may try to find the\n movie `Robin Hood`, but make two typos in the query, which becomes `robonhood` instead (`robin`->`robon`, and a space is missing).\n\n```\nPOST /v1/search/autocomplete\n{\n   \"q\":\"robanhood\",\n   \"user_id\":\"user-123\"\n}\n```\n\nMiso can still find the movie \"*Robin Hood: Prince of Thieves*\" as a autocompletion candidate.\n```javascript\n{\n  \"message\": \"success\",\n  \"data\": {\n    \"took\": 50,\n    \"miso_id\": \"e93a6d02-0a7a-11eb-a896-d28586dc1386\",\n    \"completions\": {\n      \"title\": [\n        {\n          \"text\": \"Robin Hood: Prince of Thieves (1991)\",\n          \"text_with_markups\": \"Rob&lt;mark&gt;in Hood: Prince of Thieves (1991)&lt;/mark&gt;\",\n          \"product\": {\n            \"product_id\": \"tmdb-8367\"\n          }\n        },\n        ...\n      ]\n    }\n  }\n}\n```\n\n### Completion fields\nThe auto-completions are made against your product attributes. By default, Miso finds completion candidates from the\n`title` field. The `completion_fields` parameter\nlets you specify the attributes you want to perform auto-completion for.\nFor example, the following query will return auto-completion candidates from the `title` and a custom attribute\nfield:`custom_attributes.director`.\n```\nPOST /v1/search/autocomplete\n{\n  \"q\": \"rob\",\n  \"user_id\": \"user-123\",\n  \"completion_fields\": [\n    \"title\",\n    \"custom_attributes.director\"\n  ]\n}\n```\nThe response will be like the following:\n```javascript\n{\n  \"message\": \"success\",\n  \"data\": {\n    \"took\": 52,\n    \"miso_id\": \"16d95080-0bb0-11eb-948d-66359cf29022\",\n    \"completions\": {\n      \"title\": [\n        {\n          \"text\": \"Robin Hood: Prince of Thieves (1991)\",\n          \"text_with_markups\": \"Rob&lt;mark&gt;in Hood: Prince of Thieves (1991)&lt;/mark&gt;\",\n          \"product\": {\n            \"product_id\": \"tmdb-8367\"\n          }\n        },\n        {\n          \"text\": \"RoboCop (1987)\",\n          \"text_with_markups\": \"Rob&lt;mark&gt;oCop (1987)&lt;/mark&gt;\",\n          \"product\": {\n            \"product_id\": \"tmdb-5548\"\n          }\n        },\n        ...\n      ],\n      \"custom_attributes.director\": [\n        {\n          \"text\": \"Robert Z. Leonard\",\n          \"text_with_markups\": \"&lt;mark&gt;Rob&lt;/mark&gt;ert Z. Leonard\",\n        },\n        ...\n      ]\n    }\n  }\n}\n```"
      operationId: autocomplete_v1_search_autocomplete_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutocompleteRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Secret API Key: []
  /v1/search/mget:
    post:
      tags:
      - Search APIs
      summary: Multiple Get API
      description: "The Multiple Get API provides a simple and fast interface to retrieve Products by their product ids.\nFor example, the following query will retrieve products whose product_ids are `123ABC-S-Black` and `123ABC-S-Blue`\n```\n{\n    \"product_ids\": [\"123ABC-S-Black\", \"123ABC-S-Blue\"]\n}\n```\nMiso will respond with the complete Products records in the same order as the given `product_ids`:\n```\n{\n  \"message\": \"success\",\n  \"data\": {\n    \"products\": [\n      {\n        \"_found\": true,\n        \"product_id\": \"123ABC-S-Black\",\n        \"title\": \"Product ABC in Black\",\n        ...\n      },\n      {\n        \"_found\": true,\n        \"product_id\": \"123ABC-S-Blue\",\n        \"title\": \"Product ABC in Blue\",\n        ...\n      }\n    ]\n  }\n}\n\n```\nYou can use the `_found` field to determine whether a product is found in the Miso database or not.\nWhen the given product_id is not found, the `_found` field in the corresponding Product record\nwill become `false`.\n\nFor example, the following query requests a `product_id` that does not exist in the Miso database:\n```\n{\n    \"product_ids\": [\"Product_Not_Exists\", \"123ABC-S-Black\"]\n}\n```\nMiso will respond:\n```\n{\n  \"message\": \"success\",\n  \"data\": {\n    \"products\": [\n      {\n        \"_found\": false,\n        \"product_id\": \"Product_Not_Exists\"\n      },\n      {\n        \"_found\": true,\n        \"product_id\": \"123ABC-S-Black\",\n        \"title\": \"Product ABC in Black\",\n        ...\n      }\n    ]\n  }\n}\n```\nFinally, like every Miso API, you can use `fl` to control what Product fields to return. By default, all the Product\nfields will be returned, but the following query will return only `title` field of the product (in addition\nto `product_id`)\n```\n{\n    \"product_ids\": [\"123ABC-S-Black\", \"123ABC-S-Blue\"],\n    \"fl\": [\"title\"]\n}\n```"
      operationId: mget_v1_search_mget_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleGetRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleGetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Secret API Key: []
components:
  schemas:
    PromoPageView:
      title: promo_page_view
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - promo_page_view
          type: string
          description: '

            Used when a user views a specific promotional or curated marketing page about certain products or content.

            '
        duration:
          title: Duration
          type: number
          description: '

            How long (in seconds) the user stayed on this page, or consumed (listened, read, or watched) a product. This field is

            optional, but it''s very important in scenarios where consumption duration matters, including

            `product_detail_page_view`, `category_page_view`, `watch`, `listen`, and `read`. For example, if a user only

            views or consumes a product for less than 5 seconds, that user is probably not interested in the product. On

            the other hand, if a user stays on a page for a while, it usually means they are seriously engaging with or

            considering the product. When `duration` is absent, we will use the timestamp of the next interaction to

            infer a rough duration value.


            Example:

            ```

            {"duration": 61.5}

            ```

            '
          example: 61.5
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    Range:
      title: Range
      type: object
      properties:
        to:
          title: To
          anyOf:
          - type: string
          - type: number
          description: End of the range (exclusive).
        from:
          title: From
          anyOf:
          - type: string
          - type: number
          description: Start of the range (inclusive).
        key:
          title: Key
          type: string
          description: User friendly label of the range
    AddToCollection:
      title: add_to_collection
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - add_to_collection
          type: string
          description: '

            Used when a user adds a product to their personal collection. This is a strong

            signal of their interest in the product.

            '
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            type: string
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    AutocompleteResponse:
      title: AutocompleteResponse
      required:
      - data
      type: object
      properties:
        message:
          title: Message
          type: string
          default: success
        data:
          $ref: '#/components/schemas/AutocompleteResponseBody'
    Bookmark:
      title: bookmark
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - bookmark
          type: string
          description: '

            Used when a user bookmarks a product.

            '
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    TieBreakDefinition:
      title: TieBreakDefinition
      type: object
      properties:
        type:
          title: Type
          enum:
          - relative_difference
          default: relative_difference
        threshold:
          title: Threshold
          type: number
          default: 0
    FacetDefinition:
      title: FacetDefinition
      required:
      - field
      type: object
      properties:
        field:
          title: Field
          type: string
          description: "\nThe field name to create a facet against. For example, the following query will create a facet against\nthe `custom_attributes.director` field, and return the ten most common facet values of this field\n(for Products that match the search query):\n```\n{\n    \"field\": \"custom_attributes.director\",\n    \"size\": 10\n}\n```\n\n"
        alias:
          title: Alias
          type: string
          description: "\nThe `alias` parameter gives a unique name to a facet, especially useful when you have multiple facets on the same field.\n\nBy default, facet results use the `field` as the key. But with multiple facets on one field, this can get confusing. `alias` solves this:\n\n```json\n{\n   \"field\": \"custom_attributes.director\",\n   \"alias\": \"director_facet\",\n   \"size\": 10\n}\n```\n\nIn the response, you'll see results under the key `director_facet` instead of the field name.\n"
        size:
          title: Size
          type: integer
          description: '

            Number of facet values to return. The facet values are sort descendingly by the number of Products

            that have these values (and match the search query).

            '
          default: 10
        include:
          title: Include
          type: string
          description: "\nFilter facet values based on a regular expression. For example, the following query will return only the facet\nvalues that start with `Steven` (case-sensitive):\n```\n{\n    \"field\": \"custom_attributes.director\",\n    \"size\": 10,\n    \"include\": \"Steven.*\"\n}\n```\nYou can escape a special character with a preceding backslash `\\` or surround it with double quotes.\nFor example, the following query will only return the facet values starting with `St.`:\n\n```\n{\n    \"field\": \"custom_attributes.place_name\",\n    \"size\": 10,\n    \"include\": \"\\\"St.\\\".*\"\n}\n```\n\nNote that, the `include` parameter will only affect the facet values, and will not affect the search result itself.\n"
        exclude:
          title: Exclude
          type: string
          description: "\nThe `exclude` parameter filters out facet values using a regular expression. For example:\n\n```json\n{\n    \"field\": \"custom_attributes.director\",\n    \"size\": 10,\n    \"exclude\": \"Steven.*\"\n}\n```\n\nThis will omit all facet values starting with \"Steven\" (case-sensitive).\n\nTo exclude values with special characters, use a backslash `\\` or double quotes:\n\n```json\n{\n    \"field\": \"custom_attributes.place_name\",\n    \"size\": 10,\n    \"exclude\": \"\\\"St.\\\".*\"\n}\n```\n\nThis excludes facet values starting with \"St.\".\n\nRemember, `exclude` only affects facet values, not the search results themselves.\n"
        ranges:
          title: Ranges
          type: array
          items:
            $ref: '#/components/schemas/RangeRequireKey'
          description: "\nFacet ranges for numeric fields or date-like string fields. For example, the following query groups the products\ninto fours buckets against on their `original_price` ranges, each of which has a user-friendly \"key\":\n```\n{\n    \"field\": \"original_price\",\n    \"ranges\": [\n        {\"to\": 10, \"key\": \"Less than 10 dollars\"},\n        {\"from\": 10, \"to\": 100, \"key\": \"10 to 100 dollars\"},\n        {\"from\": 100, \"to\": 1000, \"key\": \"100 to 1,000 dollars\"},\n        {\"from\": 1000, \"key\": \"More than 1,000 dollars\"}\n    ]\n}\n```\n\nFor each range object, you need to at least specify one of the `to` or `from` values (or both). `from`\nis always **inclusive**, and `to` is always **exclusive**. In the response, Miso refers to each bucket by their `key`.\nFor example, the above request will have the following response:\n```\n{\n  \"facet_counts\": {\n    \"facet_fields\": {\n      \"original_price\": [\n        [\n          \"Less than 10 dollars\", 1987\n        ],\n        [\n          \"10 to 100 dollars\", 109\n        ],\n        [\n          \"100 to 1,000 dollars\", 123\n        ],\n        [\n          \"More than 1,000 dollars\", 5\n        ]\n      ]\n    }\n  }\n}\n```\n"
        queries:
          title: Queries
          type: array
          items:
            $ref: '#/components/schemas/QueryFilterRequireKey'
          description: "\nFacet queries that support facet counts for any arbitrary Lucene queries,\neach of which is labeled by a user-friendly \"key\":\n```\n{\n    \"field\": \"my_custom_facet\",\n    \"queries\": [\n        {\n            \"query\": \"price: [* TO 10] AND size:\"Small\"\",\n            \"key\": \"Less than 10 dollars / Small size\"\n        },\n        {\n            \"query\": \"price: [10 TO 100] AND size:\"Medium\"\",\n            \"key\": \"10 to 100 dollars / Medium size\"\n        },\n        {\n            \"query\": \"price: [100 TO *] AND size:\"Large\"\",\n            \"key\": \"More than 100 dollars / Large size\"\n        }\n    ]\n}\n```\n\nIn the response, Miso refers to the query result by their `key`.\nFor example, the above request will have the following response:\n```\n{\n  \"facet_counts\": {\n    \"facet_fields\": {\n      \"my_custom_facet\": [\n        [\n          \"Less than 10 dollars / Small size\", 1987\n        ],\n        [\n          \"10 to 100 dollars / Medium size\", 109\n        ],\n        [\n          \"More than 100 dollars / Large size\", 123\n        ]\n      ]\n    }\n  }\n}\n```\n"
    Checkout:
      title: checkout
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - checkout
          type: string
          description: '

            Used when a user enters checks out with a set of products. For an eCommerce site, this is the strongest signal of the user''s

            interest and has a high probability of leading to an eventual purchase.

            '
        revenue:
          title: Revenue
          type: number
          description: '

            Total revenue associated with the checkout.  The revenue should include generally shipping, tax, etc. that you

            want to include as part of your revenue calculations.

            '
          example: 23.32
        quantities:
          title: Quantities
          anyOf:
          - type: array
            items:
              type: number
          - type: number
          description: '

            The quantities of products the user adds to their cart or checks out with. This field should be a list of positive values.

            Specifically, if `product_ids` is a list of N products, the `quantities` needs to be a list with N numbers as well.

            If `quantities` are not specified, we will assume the quantity to be 1 for every product.


            Example:

            ```

            {"quantities": [1, 2]}

            ```

            '
          example:
          - 1
          - 2
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    Completion:
      title: Completion
      required:
      - text
      - text_with_markups
      - text_with_inverted_markups
      type: object
      properties:
        text:
          title: Text
          minLength: 1
          type: string
          example: Japanese Shiba Inu Dog Eating Miso Soup T-Shirt
        text_with_markups:
          title: Text With Markups
          minLength: 1
          type: string
          example: Japanese&lt;mark&gt; Shiba Inu Dog Eating Miso Soup T-Shirt&lt;/mark&gt;
        text_with_inverted_markups:
          title: Text With Inverted Markups
          minLength: 1
          type: string
          example: '&lt;mark&gt;Japanese&lt;/mark&gt; Shiba Inu Dog Eating Miso Soup T-Shirt'
      description: basic completion response only has `text`
    Refund:
      title: refund
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - refund
          type: string
          description: '

            Used when a user requests a refund of products they bought.

            '
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    Impression:
      title: impression
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - impression
          type: string
          description: '

            Used to record when a user saw or was presented with a product or content asset.

            An impression does not mean a user is interested: for example, if there is an impression for a

            certain product, but no further interaction occurs with that product, we assume the user is probably not

            interested in it.


            For an impression that was generated by Miso''s search results or recommendations results, it is important to

            include the `miso_id` associated with the results so that we know the impression is from Miso'
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    Like:
      title: like
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - like
          type: string
          description: '

            Used to record when a user indicates a `like` for a product.

            '
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    Filter:
      title: Filter
      type: object
      properties:
        terms:
          title: Terms
          type: array
          items:
            type: string
        ranges:
          title: Ranges
          type: array
          items:
            $ref: '#/components/schemas/Range'
        queries:
          title: Queries
          type: array
          items:
            $ref: '#/components/schemas/QueryFilter'
    CheckProductExistence:
      title: CheckProductExistence
      required:
      - product_ids
      type: object
      properties:
        product_ids:
          title: Product Ids
          minLength: 1
          type: array
          items:
            type: string
            minLength: 1
          description: A list of product ids to be checked if they will be returned in the search results
    TitleCompletion:
      title: TitleCompletion
      required:
      - text
      - text_with_markups
      - text_with_inverted_markups
      - product
      type: object
      properties:
        text:
          title: Text
          minLength: 1
          type: string
          example: Japanese Shiba Inu Dog Eating Miso Soup T-Shirt
        text_with_markups:
          title: Text With Markups
          minLength: 1
          type: string
          example: Japanese&lt;mark&gt; Shiba Inu Dog Eating Miso Soup T-Shirt&lt;/mark&gt;
        text_with_inverted_markups:
          title: Text With Inverted Markups
          minLength: 1
          type: string
          example: '&lt;mark&gt;Japanese&lt;/mark&gt; Shiba Inu Dog Eating Miso Soup T-Shirt'
        product:
          title: Product
          allOf:
          - $ref: '#/components/schemas/Record'
          example:
            product_id: 123ABC-S-Black
      description: title completion additionally has the `product` the title belongs to.
    GeoQuery:
      title: GeoQuery
      type: object
      properties:
        filter:
          title: Filter
          type: array
          items:
            $ref: '#/components/schemas/GeoDistanceQuery'
          description: When set, filter result to include only products within certain geographic range from given point.
          default: []
        boost:
          title: Boost
          type: array
          items:
            $ref: '#/components/schemas/GeoDistanceQueryBoost'
          description: When set, boost products within certain geographic range from given point.
          default: []
    ProductImageView:
      title: product_image_view
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - product_image_view
          type: string
          description: '

            Used when a user views the image of a product (e.g. to enlarge a product photo).

            '
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    ViewableImpression:
      title: viewable_impression
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - viewable_impression
          type: string
          description: '

            When a product or content asset is presented to the user, it is not guarantee that the user will see it.


            An viewable impression is an impression that is "viewable" by the user.

[...]
