openapi: 3.2.0
info:
  title: Miso Interaction APIs API
  description: '# Overview

    Miso’s approach to personalization is to train machine learning Engines on three core data sets:


    1.'
  version: 1.1.4
servers:
- url: https://api.askmiso.com
tags:
- name: Interaction APIs
  description: Miso’s Interaction APIs let you manage your Interaction records stored with Miso.
paths:
  /v1/interactions:
    post:
      tags:
      - Interaction APIs
      summary: Interaction Upload API
      description: Miso’s Interaction APIs let you manage your Interaction records stored with Miso.
      operationId: interaction_upload_api_v1_interactions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InteractionBulkIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionCreateOut'
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                message: invalid api key.
        '403':
          description: Forbidden
          content:
            application/json:
              example:
                message: Request is denied due to bot blocking. Please only access this API from a real browser or use Secret API Key instead.
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              example:
                errors: true
                message: None of the records were inserted because at least one of them contained schema errors. Please see the `data` field for details.
                data:
                - data.0.product_ids is invalid. The attribute was expected to be of type ''array', 'null'' but type 'string' was given.
                - data.0.timestamp is invalid. The attribute should match the 'date-time' format.
      security:
      - Secret API Key: []
      - Publishable API Key: []
    delete:
      tags:
      - Interaction APIs
      summary: Interaction Delete API
      description: 'The endpoint will delete users'' interaction data entirely from the log of interactions you have uploaded to Miso.

        This API enables you to comply with users'' data removal requests (i.e. right to be forgotten). Once a user''s

        interactions are deleted, we will not be able to recover them, and they will no longer contribute to model

        training.'
      operationId: interaction_delete_api_v1_interactions_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InteractionDeleteIn'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionDeleteOut'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - Secret API Key: []
components:
  schemas:
    Unsubscribe:
      title: unsubscribe
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - unsubscribe
          type: string
          description: '

            Used when a user unsubscribes a product, for example to stop receiving alerts when the product comes back in stock or if the price drops.

            '
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    Dislike:
      title: dislike
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - dislike
          type: string
          description: '

            Used when a user indicates a `dislike` for a product or indicates

            they would like to not be recommended content or products like this in the future.

            '
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    ProductImageView:
      title: product_image_view
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - product_image_view
          type: string
          description: '

            Used when a user views the image of a product (e.g. to enlarge a product photo).

            '
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    Like:
      title: like
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - like
          type: string
          description: '

            Used to record when a user indicates a `like` for a product.

            '
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    AddToCart:
      title: add_to_cart
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - add_to_cart
          type: string
          description: '

            Used when a user adds a product into their shopping cart. This is a strong

            positive signal of the user''s interest in the product, and may eventually lead to a purchase.

            '
        quantities:
          title: Quantities
          anyOf:
          - type: array
            items:
              type: number
          - type: number
          description: '

            The quantities of products the user adds to their cart or checks out with. This field should be a list of positive values.

            Specifically, if `product_ids` is a list of N products, the `quantities` needs to be a list with N numbers as well.

            If `quantities` are not specified, we will assume the quantity to be 1 for every product.


            Example:

            ```

            {"quantities": [1, 2]}

            ```

            '
          example:
          - 1
          - 2
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    Impression:
      title: impression
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - impression
          type: string
          description: '

            Used to record when a user saw or was presented with a product or content asset.

            An impression does not mean a user is interested: for example, if there is an impression for a

            certain product, but no further interaction occurs with that product, we assume the user is probably not

            interested in it.


            For an impression that was generated by Miso''s search results or recommendations results, it is important to

            include the `miso_id` associated with the results so that we know the impression is from Miso'
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    PromoPageView:
      title: promo_page_view
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - promo_page_view
          type: string
          description: '

            Used when a user views a specific promotional or curated marketing page about certain products or content.

            '
        duration:
          title: Duration
          type: number
          description: '

            How long (in seconds) the user stayed on this page, or consumed (listened, read, or watched) a product. This field is

            optional, but it''s very important in scenarios where consumption duration matters, including

            `product_detail_page_view`, `category_page_view`, `watch`, `listen`, and `read`. For example, if a user only

            views or consumes a product for less than 5 seconds, that user is probably not interested in the product. On

            the other hand, if a user stays on a page for a while, it usually means they are seriously engaging with or

            considering the product. When `duration` is absent, we will use the timestamp of the next interaction to

            infer a rough duration value.


            Example:

            ```

            {"duration": 61.5}

            ```

            '
          example: 61.5
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    InteractionDeleteOut:
      title: InteractionDeleteOut
      required:
      - message
      type: object
      properties:
        message:
          title: Message
          type: string
          description: Human-readable message
          example: success
    Custom:
      title: custom
      required:
      - type
      - custom_action_name
      type: object
      properties:
        type:
          title: Type
          enum:
          - custom
          type: string
          description: '

            Used when you want to record any other kinds of interactions between users and products.

            '
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
        custom_action_name:
          title: Custom Action Name
          type: string
          description: '

            The name of the custom interaction that you have defined.

            '
      additionalProperties: false
    InteractionCreateOut:
      title: InteractionCreateOut
      required:
      - message
      type: object
      properties:
        message:
          title: Message
          type: string
          description: Human-readable message
          example: success
    SearchInformation:
      title: SearchInformation
      type: object
      properties:
        keywords:
          title: Keywords
          type: string
          description: '

            The search keywords user use. Search keywords are strong signals to users'' interests.

            '
          default: ''
        filters:
          title: Filters
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: "\nDictionary of filters users apply to the search results in the following format:\n `{\"FIELD\": [\"SELECTION_1\", \"SELECTION_2\"]}`.\n"
    Campaign:
      title: Campaign
      type: object
      properties:
        name:
          title: Name
          type: string
          description: Name of the campaign. Identifies a specific product promotion or strategic campaign.  (see [UTM parameters](https://en.wikipedia.org/wiki/UTM_parameters))
          example: spring_sale
        source:
          title: Source
          type: string
          description: Source of the campaign. Identifies which site sent the traffic. (see [UTM parameters](https://en.wikipedia.org/wiki/UTM_parameters))
          example: Google
        medium:
          title: Medium
          type: string
          description: Medium of the campaign that identifies what type of link was used, such as cost per click or email. (see [UTM parameters](https://en.wikipedia.org/wiki/UTM_parameters))
          example: cpc
        term:
          title: Term
          type: string
          description: Term of the campaign that identifies search terms. (see [UTM parameters](https://en.wikipedia.org/wiki/UTM_parameters))
          example: running+shoes
        content:
          title: Content
          type: string
          description: Content of the campaign that identifies what specifically was clicked to bring the user to the site, such as a banner ad or a text link. It is often used for A/B testing and content-targeted ads. Identifies search terms.  (see [UTM parameters](https://en.wikipedia.org/wiki/UTM_parameters))
          example: textlink
    ViewableImpression:
      title: viewable_impression
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - viewable_impression
          type: string
          description: '

            When a product or content asset is presented to the user, it is not guarantee that the user will see it.


            An viewable impression is an impression that is "viewable" by the user.

            Usually, content asset is considered viewable if more than 50% of its area is visible on screen.


            You can also use different definition for what is considered viewable.

            Miso will automatically find the best recommendation as long as the difference between

            viewable and non-viewable impression is consistant.

            '
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    Bookmark:
      title: bookmark
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - bookmark
          type: string
          description: '

            Used when a user bookmarks a product.

            '
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    InteractionDeleteIn:
      title: InteractionDeleteIn
      required:
      - user_ids
      type: object
      properties:
        user_ids:
          title: User Ids
          type: array
          items:
            type: string
    HomePageView:
      title: home_page_view
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - home_page_view
          type: string
          description: '

            Used when a user views your home page.

            '
        duration:
          title: Duration
          type: number
          description: '

            How long (in seconds) the user stayed on this page, or consumed (listened, read, or watched) a product. This field is

            optional, but it''s very important in scenarios where consumption duration matters, including

            `product_detail_page_view`, `category_page_view`, `watch`, `listen`, and `read`. For example, if a user only

            views or consumes a product for less than 5 seconds, that user is probably not interested in the product. On

            the other hand, if a user stays on a page for a while, it usually means they are seriously engaging with or

            considering the product. When `duration` is absent, we will use the timestamp of the next interaction to

            infer a rough duration value.


            Example:

            ```

            {"duration": 61.5}

            ```

            '
          example: 61.5
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    CategoryPageView:
      title: category_page_view
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - category_page_view
          type: string
          description: '

            Used when a user views a category page for a specific “family” or “group” or products or content.

            This is a strong indicator of what types category of products or content the user is interested in.

            '
        duration:
          title: Duration
          type: number
          description: '

            How long (in seconds) the user stayed on this page, or consumed (listened, read, or watched) a product. This field is

            optional, but it''s very important in scenarios where consumption duration matters, including

            `product_detail_page_view`, `category_page_view`, `watch`, `listen`, and `read`. For example, if a user only

            views or consumes a product for less than 5 seconds, that user is probably not interested in the product. On

            the other hand, if a user stays on a page for a while, it usually means they are seriously engaging with or

            considering the product. When `duration` is absent, we will use the timestamp of the next interaction to

            infer a rough duration value.


            Example:

            ```

            {"duration": 61.5}

            ```

            '
          example: 61.5
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
        category:
          title: Category
          type: array
          items:
            type: string
          description: "\nCategories usually fall in a hierarchy, such as *Home & Garden > Kitchen & Dining > Kitchen Tools & Utensils >\nSushi Mats* Use this field to specify the full hierarchical list describing the category the user is viewing.\n\nThe levels should be listed from broad to narrow:\n`[\"TOP_LEVEL_CATEGORY\", \"SUBCATEGORY_1\", \"SUBCATEGORY_2\", ...]`.\nThis field is only used by the category_page_view interaction type, but this data is very useful for\ndetermining the user’s interests.\nExample:\n```\n[\n \"Home & Garden\",            // TOP_LEVEL_CATEGORY\n \"Kitchen & Dining\",         // SUBCATEGORY_1\n \"Kitchen Tools & Utensils\", // SUBCATEGORY_2\n \"Sushi Mats\"                // SUBCATEGORY_3\n]\n```\n"
      additionalProperties: false
    Subscribe:
      title: subscribe
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - subscribe
          type: string
          description: '

            Used when a user subscribes a product, for example to receive alerts when the product comes back in stock or if the price drops.

            '
        product_ids:
          title: Product Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            Products or content the user is interacting with. This field is required by

            almost all the interaction types. We use `product_ids` to refer to the product / content records that you upload to Miso.

            Therefore, it is important to keep this consistent between the two datasets.


            Example:

            ```

            {"product_ids": ["123ABC-BLACK", "123EFG-YELLOW"]}

            ```

            '
          default: []
          example:
          - 123ABC-BLACK
        product_group_ids:
          title: Product Group Ids
          type: array
          items:
            type: string
            maxLength: 512
          description: '

            The product groups the user is interacting with. You only need this field if you model product

            variants using `product_id` and `product_group_id` (see Product API). If so, you should use this field, when a

            user is interacting with a *product group* rather than a specific product variant, for example, when the user

            is viewing the master page of a T-shirt (i.e. a product group), but has not selected the specific size or

            color (i.e. a product variant) yet.


            In such situations, the `product_id` is not applicable because we only know the user is interested in

            this T-shirt (a product group), but don''t know which particular product variant the user is interested in.

            Therefore, we use `product_group_ids` to capture such interactions in place of `product_ids`.


            In the situations where specific `product_ids` are available, for example, when user selected a particular size

            of the T-Shirt, use `product_ids` instead.



            Example:

            ```

            {"product_group_ids": ["123ABC"]}

            ```

            '
          example:
          - 123ABC
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

            subsequent page views is important to Miso''s performance, as we use `miso_id` to track and fine-tune the

            performance of personalization and search results. When a user clicks on a recommendation or search result,

            you should pass the associated `miso_id` to the next page view, and associate the `miso_id` with the

            interactions that take place on the page (e.g. `product_detail_page_view`, `add_to_cart`,

            `add_to_collection`, `like`, etc.). In this way, Miso will learn which recommendations work and which didn''t.


            Example:

            ```

            {"misoId": "123e4567-e89b-12d3-a456-426614174000"}

            ```

            '
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        context:
          title: Context
          allOf:
          - $ref: '#/components/schemas/WebBasedContext'
          description: "\nDictionary of extra information that provides useful context about an interaction. We use context\ninformation to make recommendations tailored not only for each user, but also for their current browsing context.\nFor example, a user browsing on a desktop may have different browsing behavior than a user browsing on mobile\nphone. As another example, a user who gets to the site via a certain campaign you run on Facebook may have very\ndifferent interests than a user who visits your site directly.\n\nContext information is also useful for personalization for entirely new visitors, as we can immediately\npersonalize their experiences based on their context alone (e.g. the referrer or the campaign they clicked through).\n\nExample:\n```\n{\"context\": {\n    \"campaign\":\n    {\n        \"name\": \"spring_sale\",\n        \"source\": \"Google\",\n        \"medium\": \"cpc\",\n        \"term\": \"running+shoes\",\n        \"content\": \"textlink\"\n    },\n    \"truncated_ip\": \"1.1.1.0\",\n    \"locale\": \"en-US\",\n    \"region\": \"US East\",\n    \"page\":\n        {\n            \"url\": \"https://example.com/miso-tshirt-123ABC\",\n            \"referrer\": \"https://example.com/\",\n            \"title\": \"My Product Page\"\n        },\n        \"user_agent\": \"Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0)\"\n    },\n    \"custom_context\": {\n        \"other_context_var_1\": \"value_1\",\n        \"other_context_var_2\": \"value_2\"\n    }\n}\n```\n"
      additionalProperties: false
    Feedback:
      title: feedback
      required:
      - type
      type: object
      properties:
        type:
          title: Type
          enum:
          - feedback
          type: string
          description: '

            Used when a user sends feedback on provided results.

            '
        question_id:
          title: Question Id
          maxLength: 512
          type: string
          description: '

            A unique identifier representing the specific question for which feedback is being provided.

            '
          example: question_123
        result_type:
          title: Result Type
          type: string
          description: '

            Indicates the type of result the provided feedback is associated with, e.g., an answer or a suggestion.

            '
          example: answer
        value:
          title: Value
          type: string
          description: '

            Specifies the user''s perspective on the provided result, with possible values being helpful, not helpful,

            or unselected if the user has not provided any feedback.

            '
          example: helpful
        user_id:
          title: User Id
          maxLength: 512
          type: string
          description: "Identifies the signed-in user who performed the interaction. We will use `user_id` to link Interaction records to your\n        User records. Therefore, it is important to keep this consistent between the two datasets.For visitors who have\n        not signed in, see `anonymous_id`."
          example: user_1234
        anonymous_id:
          title: Anonymous Id
          maxLength: 1024
          type: string
          description: "A pseudo-unique substitute for the User Id. We use `anonymous_id` to identify a visitor who has not signed\n        in. `anonymous_id` can be implemented using mechanisms such as cookies or browser localStorage. If `anonymous_id`\n        is not given, we will default it to `SHA1(<API key>:<IP address>:<user agent>:<date>)`. When a visitor signs\n        in and the `user_id` and `anonymous_id` are both present, the `anonymous_id` will be linked to the `user_id`\n        along with the past interactions associated with it."
          example: 86D51273AD8BF84217E1567B6CBE7152D7034404
        timestamp:
          title: Timestamp
          type: string
          description: '

            The ISO-8601 timestamp specifying when the interaction occurred. If the interaction just happened, leave it out and we

            will default to the server''s time. If you''re importing data from the past, make sure you provide a

            timestamp. It is recommended to include milliseconds in the timestamp to provide a higher time resolution.


            Example:

            ```

            {"timestamp": "2018-11-07T00:25:00.073876Z"}

            ```

            '
          format: date-time
        miso_id:
          title: Miso Id
          type: string
          description: '

            Miso-generated unique Id for each recommendation or search result. Maintaining this Id for

[...]
